.header{
    width: 880px;
    padding-top: 45px;
}

.logo__header{
    width: 100%;
    margin-bottom: 41px;
    max-width: 173px;
    max-height: 33px;

}

.line__header{
    background-color: transparent;
    border-bottom: 1px solid #545454;
    margin: 0;
    opacity: 0.7;
}


  
@media only screen and (max-width: 880px) {
    .header{
        width: 800px;
        padding-top: 45px;
    } 

    .logo__header{
      margin-bottom: 25px;
      max-width: 150px;
      max-height: 28px;
  
  }
  
}
  
@media only screen and (max-width: 550px) {
    .header{
        width: 500px;
        padding-top: 25px;
    }
}

@media only screen and (max-width: 460px) {
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    padding-top: 28px;
}

.logo__header{
    max-width: 126px;
}

.line__header{
  width: 100%;
  max-width: 460px;
}
}

  
@media only screen and (max-width: 320px) {
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    padding-top: 28px;
}

.logo__header{
    width: 100%;
    margin: 0 0 32px;
    max-width: 126px;
    max-height: 24px;
    right: 167px;
}

.line__header{
  width: 100%;
  max-width: 320px;
}
}
