.header{
    width: 880px;
    padding-top: 45px;
}

.header__logo{
    display: block;
    width: 100%;
    margin-bottom: 41px;
    max-width: 173px;
    max-height: 33px;

}

.header__line{
    box-sizing: border-box;
    background-color: transparent;
    border-bottom: 1px solid #545454;
    margin: 0;
    opacity: 0.7;
    width: 100%;
    max-width: 880px;
}


  
@media only screen and (max-width: 880px) {
    .header{
        width: 800px;
        padding-top: 45px;
    } 

    .logo__header{
      margin-bottom: 25px;
      max-width: 150px;
      max-height: 28px;
  
  }
  
}
  
@media only screen and (max-width: 550px) {
    .header{
        width: 500px;
        padding-top: 25px;
    }
  
  .header__logo{
      max-width: 126px;
  }

}

@media only screen and (max-width: 460px) {
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 420px;
    padding-top: 28px;
}

.header__logo{
    max-width: 126px;
}
}

  
@media only screen and (max-width: 320px) {
  .header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 320px;
    padding-top: 28px;
}

.header__logo{
    width: 100%;
    margin: 0 auto 32px 27px;
    max-width: 126px;
    max-height: 24px;
}

}
