.modal-newlocal{
    height: 100%;
}

.modal__item-image{
    width: 100%;
    height: 100%;
    background-color: rgba(00, 00, 00, 0.5);
    position: fixed;
    display: visible;
    justify-content: center;
    align-items: center;
}

.modal__local{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    max-width: 430px;
    max-height: 330px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.modal__open-local{
    display: flex;
    top: 0;
    left: 0;
}


.modal__local-title{
    margin: 0;
    width: 100%;
    max-width: 358px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    color: #000000;

}

.modal__button-close{ /* editar */
    width: 100%;
    max-width: 40px;
    position: relative;
    top: -50px;
    left: 240px;
}

.modal__button-close:hover{ /* editar */
    opacity: 0.6;
}


.form-local{
    margin-top: 54px;
}

.form__modal-local{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form__label-local{
    width: 100%;
}

.form__input-local {
    width: 100%;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    border: none;
  }

.form__button-local{
    width: 358px;
    margin: 48px 0 36.51px;
    padding: 18px 125px;
    background-color: #000000;
    border: 0;
    font-family: "Inter", Arial, sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    align-items: center;
}

.form__line-local{
    width: 100%;
    max-width: 358px;
    border-bottom: 1px solid #000000;
    opacity: 0.2;
}


.form__button-local:hover{
    opacity: 0.8;
}

 .profile__button-popup:hover{ /* editar */
    opacity: 0.6;
}

.profile__button-editor:hover{ /* editar */
    opacity: 0.6;
}

/*@media only screen and (max-width: 460px) {
    .modal__header{
        width: 100%;
        height: 100%;
        max-width: 282px;
        max-height: 322px;
    }
    
    .modal__title{
        width: 100%;
        max-width: 238px;
        font-size: 18px;
        line-height: 21.78px;    
    }
    
    .modal__button-close{
     width: 100%;
    max-width: 26px;
    position: relative;
    top: -80px;
    left: 140px;
}

    
    .form{
    margin-top: 13.62px;
    }
    
    .form__button{
     width: 238px;
     margin: 46px 0 25px;
     padding: 14px 96px;
    border: 2;
    color: #ffffff;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    align-items: center;
    }
    
    .form__line{
    max-width: 358px;
    border-bottom: 1px solid #000000;
    opacity: 0.2;
    }
}

 @media only screen and (max-width: 320px) {
    .modal__header{
        width: 100%;
        height: 100%;
        max-width: 282px;
        max-height: 322px;
    }
    
    .modal__title{
        width: 100%;
        max-width: 238px;
        font-size: 18px;
        line-height: 21.78px;    
    }
    
    .modal__button-close{
        width: 100%;
        max-width: 26px;
    }
    
    .form{
        margin-top: 13.62px;
    }
    
    .form__button{
        width: 238px;
        margin: 46px 0 25px;
        padding: 14px 96px;
        border: 2;
        color: #ffffff;
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
        align-items: center;
    }
    
    .form__line{
        max-width: 358px;
        border-bottom: 1px solid #000000;
        opacity: 0.2;
    }
} */