.modal{
    width: 100%;
    height: 100%;
    background-color: rgba(00, 00, 00, 0.5);
    position: fixed;
    display: none;
    justify-content: center;
    align-items: center;
}

.modal__header{
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    max-width: 430px;
    max-height: 330px;
    border-radius: 10px;
    padding-bottom: 36px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    z-index: 2;
}

.modal__open{
    display: flex;
    top: 0;
    left: 0;
}


.modal__title{
    margin: 0;
    width: 100%;
    max-width: 358px;
    font-family: "Inter", Arial, sans-serif;
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    color: #000000;

}

.modal__button-close{
    width: 100%;
    max-width: 40px;
    position: relative;
    top: -50px;
    left: 240px;
}

.modal__button-close:hover{
    opacity: 0.6;
}


.form{
    margin-top: 54px;
}

.form__modal{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.form__label{
    width: 100%;
}


.form__label:nth-child(1) {
    margin-bottom: 29px;
  }


  /*------> PARTE POP-UP ERROR <-----*/

.button__disabled{
    background-color: rgba(255, 255, 255, 0.8);
}

.input__error:invalid {
    display: flex;
    max-width: 350px;
    border-bottom: 2px solid red;
}

.form__input-message{
    display: flex;
    max-width: 350px;
    font-size: 12px;
    color: red;
}

  /*------> PARTE POP-UP ERROR <-----*/

  .form__line{
    width: 100%;
    padding: 0;
    margin: 0;
    border-bottom: 1px solid black;
    opacity: 20%;
  }

.form__input {
    width: 100%;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", Arial, sans-serif;
    font-size: 14px;
    line-height: 16.94px;
    font-weight: 400;
    border: none;
  }

.form__button{
    width: 358px;
    padding: 18px 125px;
    margin-top: 48px;
    background-color: #000000;
    border: 0;
    font-family: "Inter", Arial, sans-serif;
    color: #ffffff;
    font-size: 18px;
    line-height: 21.78px;
    font-weight: 400;
    align-items: center;
}

.form__button:hover{
    opacity: 0.8;
}

.profile__button-popup:hover{
    opacity: 0.6;
}

.profile__button-editor:hover{  
    opacity: 0.6;
}

@media only screen and (max-width: 460px) {
    .modal__header{
        width: 100%;
        height: 100%;
        max-width: 282px;
        max-height: 322px;
        padding: 0;
    }
    
    .modal__title{
        width: 100%;
        max-width: 238px;
        font-size: 18px;
        margin-bottom: 30px;
    }

    .form__label{
        width: 100%;
        max-width: 238px;
        font-size: 18px;
        line-height: 21.78px;    
    }
    
    .modal__button-close{
        width: 100%;
        max-width: 26px;
        position: relative;
        top: -80px;
        left: 140px;
    }

    .form__label:nth-child(1) {
        margin-bottom: 20px;
      }

    
    .form{
    margin-top: 13.62px;
    }
    
    .form__button{
        width: 238px;
        margin: 46px 0 0;
        padding: 14px 96px;
        border: 2;
        color: #ffffff;
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
        align-items: center;
    }
}

@media only screen and (max-width: 320px) {
    .modal__header{
        width: 100%;
        height: 100%;
        max-width: 282px;
        max-height: 322px;
        padding: 0;
    }
    
    .form__label{
        width: 100%;
        max-width: 238px;
        font-size: 18px;
        line-height: 21.78px;    
    }
    
    .modal__button-close{
        width: 100%;
        max-width: 26px;
    }
    
    .form{
        margin-top: 13.62px;
    }
    
    .form__button{
        width: 238px;
        margin: 46px 0 0;
        padding: 14px 96px;
        border: 2;
        color: #ffffff;
        font-size: 14px;
        line-height: 16.94px;
        font-weight: 400;
        align-items: center;
    }
    
}